<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>tuna-project</title>
  </head>
  <body>
    <div id="app">
      {{message}}
    </div>
      <script>
        const App = new Vue({
          el: '#app',
          data: {
            message: 'hello vue'
          }
        })
      </script>
  </body>
</html>
