<template>
  <div id="app">
    <h1 align="center">TUNA FISH APPLICATION</h1><hr/>
   <queryalltuna :rows="tuna"/><hr/>
   <querytuna :rows="tuna"/><hr/>
   <record :tuna="tuna"/><hr/>
  </div>
</template>

<script>
import queryalltuna from './components/queryalltuna.vue'
import querytuna from './components/querytuna.vue'
import recordtuna from './components/recordtuna.vue'
import record from './components/record'

export default {
  name: 'app',
  components: {
    queryalltuna,
    querytuna,
    recordtuna,
    record
  },
  data(){
    return{
      tuna:[
        { id: 1, 
        timestamp: "1504054225", 
        holder: 'Miriam',
         catchlocation: '67.0006, -70.5476',
          vessel: '923F' },
      { id: 2, timestamp: "1504057825", holder: 'Dave', catchlocation: '91.2395, -49.4594', vessel: 'M83T'},
      { id: 3, timestamp: "1493517025", holder: 'Igor', catchlocation: '58.0148, 59.01391', vessel: 'T012'},
      { id: 4, timestamp: "1496105425", holder: 'Amalea', catchlocation: '-45.0945, 0.7949', vessel: 'P490' },
      { id: 5, timestamp: "1493512301", holder: 'Rafa', catchlocation: '-107.6043, 19.5003', vessel: 'S439' },
      { id: 6, timestamp: "1494117101", holder: 'Shen', catchlocation: '-155.2304, -158723', vessel: 'J205' },
      { id: 7, timestamp: "1496104301", holder: 'Leila', catchlocation: '103.8842, 22.1277', vessel: 'S22L'},
      { id: 8, timestamp: "148506691", holder: 'Yuan', catchlocation: '-132.3207, -34.0983', vessel: 'E189' },
      { id: 9, timestamp: "1485153091", holder: 'Carlo', catchlocation: '153.0054, 12.6429', vessel: '129R' },
      { id:10, timestamp: "1494117101", holder: 'Fatima', catchlocation: '51.9435, 8.2735', vessel: '49W4'}
      ]
    }
  }
}
</script>

<style>
  a:link, a:visited {
    background-color: #8EB8E5;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
  }
  
  #app,#app2 {
    font-family:'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:left;
    color: #2c3e50;
    margin-top: 60px;
  }
  th, td,tr {
    padding: 11px;
    text-align: center;
    
    height:12px;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width:80%;
  }
  select {
    width: 50%;
    padding: 12px 20px;
  }
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
   button, input[type=submit] {
      background: #8EB8E5;
      border: 1px solid #8EB8E55;
      border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }
  
    .small-container {
      max-width: 680px;
    }
</style>